/* Reset styles */
* {
 
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* General Styles */
body {
  color: #333;
  line-height: 1.6;
  width: 957;
  margin-left: auto;
  margin-right: auto
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header {
  box-shadow: 0 5px 4px rgb(70, 71, 71);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw;
  background-color: rgb(42, 41, 43);
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  color: #fff;
  font-weight: bolder;
}

.nav ul li {
  font-weight: bolder;
  font-size: 20px;
}

.nav ul li a:hover{
  background-color: white;
  padding: 5px;
  border-radius: 0.5em;
  transition:  0.2s ease-in-out;
  color: black;
}

/* Hero Section */
.hero {
  background: url('images/download.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: scale(0.9); 
  transition: opacity 1s ease, transform 1s ease; 
}

.hero.pop-up {
  opacity: 1;
  transform: scale(1); 
}

.hero-content h1 {
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #333230;
  transition: 0.2s ease-in-out;
}

.btn:active{
  background-color: white;
  color: black;
}

.order-btn{
  margin-bottom: 10px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: solid;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
/* @media only screen and(max-width:640){
    .order-btn{
      padding: 20px 10px;
      border-radius: 7px;
    }
    .order-btn:hover{
      translate: 0px;
    }
    .menu-card{
      width: 85%;
    }
} */


.order-btn:hover{
  background-color: #f8f8f8;
  cursor: pointer;
}


.order-btn:active{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}


/* About Section */
.about {
  padding: 60px 5vw;
  text-align: center;
  background-color: #f4f4f4;
  translate: 0px;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.menu-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  margin-bottom: 10vh;
}

.menu-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Menu Highlights Section */
.menu {
  padding: 60px 5vw;
  background-color: #fff;
  text-align: center;
}

.menu h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.menu-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-card {
  width: 85%;
  height: fit-content;
  background-color: #f4f4f4;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.menu-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.menu-card h3 {
  margin: 15px 0;
  font-size: 1.5rem;
}

.menu-card p {
  padding: 0 15px 15px;
}

.quantity-container {
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.quantity-btn {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.quantity {
  font-size: 16px;
  font-weight: bold;
}

.container2{
  font-size: large;
  font-weight: bold;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(3, 2, 11);
}

input {
  cursor: pointer;
}
 
.input:hover {
  transition: 0.4s;
}

.Nform {
  background-color: rgb(232, 231, 231);
  width: 100%;
  max-width: 300px;
  color: black;
  border-radius: 10px;
  padding: 10px;
  border-style: solid;
}

.container2 i{
  position: relative;
  margin: auto;
}

.reservation{
  display: flex;
  margin: 25px 25px;
  justify-content: center;
}

.rsve-btn{
  margin-bottom: 10px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: solid;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.rsve-btn:hover{
  background-color: #f8f8f8;
  cursor: pointer;
}

.rsve-btn:active{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.slideshow-container {
  margin-top: 40vh;
  width: 80vmin;
  height: fit-content;
  position: relative;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border-radius: 20px;
  box-shadow:  10px 25px 30px rgb(134, 134, 135);
}

.slide-wrapper{
  display: flex;
  width: 100%;
  animation: slide 50s infinite;
}

@keyframes slide{
  0% { transform: translateX(0); }
  10% { transform: translateX(0); }
  15% { transform: translateX(-100%); }
  25% { transform: translateX(-100%); }
  30% { transform: translateX(-200%); }
  40% { transform: translateX(-200%); }
  45% { transform: translateX(-300%); }
  55% { transform: translateX(-300%); }
  60% { transform: translateX(-400%); }
  70% { transform: translateX(-400%); }
  75% { transform: translateX(-500%); }
  85% { transform: translateX(-500%); }
  90% { transform: translateX(-600%); }
  100% { transform: translateX(-600%); }
}

.mySlides{
  width: 100%;
}

.about-container{
  display: flex;
  gap: 30px;
 
}
.about-details {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.about-container h1, h2{
  text-align: center;
  font-size: larger;
  font-weight: 900;
}

.comment-container {
  display: flex;
  max-width: 85%;
  margin: auto;
  flex-direction: column;
  border-width: 20px;
  gap: 16px; 
}

.comment1, .comment2{
  background-color: #fcfcfc;
  border-radius: 10px;
  text-align: center;
  border-style: solid;
  border-color: #e5e7eb;
  height: fit-content;
}

.cart-container{
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cart{
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
  justify-content: center;
}

.cart-1, .cart-2 {
  flex: 1 1 150px; /* Flex-grow, flex-shrink, and min-width */
  display: flex;
  justify-content: center;
}

.cart-btn {
  flex: 2 1 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.cart-container img{
  width: 40vh;
  height: auto;
  border-radius: 5px;
}
.connect{
  align-items: center;
  display: flex;
  flex-direction: column;
}
#comment{
  padding: 1rem;
  border-color: black;
}
#comment-submit{
  padding: 1rem;
}

.cart-container p{
  margin-top: 2vh;
  color: rgb(0, 0, 0);
}

.cart-container i{
  color: gray;
  font-size: 20px;
}

/*redirect is a button generated by js */
.crt-btn, .redirect{
  margin-top: 2vh;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: solid;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.crt-btn:hover{
  background-color: #f8f8f8;
  cursor: pointer;
}

.crt-btn:active{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  .cart {
    flex-direction: column;
    align-items: center;
  }
  
  .cart-btn {
    align-items: center;
    text-align: center;
  }
}

.container3 {
  display: flex;
  justify-content: center;
}

.checkout{
  background-color: rgb(236, 234, 234);
  border-style: solid;
  height: fit-content;
  width: 100vw;

}

.checkout h1 {
  font-weight: 800;
  text-align: center;
  justify-content: center;
}

.checkout h3 {
  font-weight: bold;
  justify-content: end;
  margin-left: 5vh;
}

.checkout p {
  justify-content: baseline;
  margin-top: 8vh;
  margin-right: vh;
}

.footer p {
  margin: 10px 0;
}

.footer i {
  margin-right: 10px;
}

/* Footer */
.footer {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer a{
  color: white;
}

.menu-container{
 margin-top: 20px;
}
